<div class="bg-image">
  <div class="header-container">
    <h1>Welcome to BudgetTracker</h1>
    <span>Track your expenses and income with ease.</span>
  </div>
    <div class="login-page">
      <div class="form">
        <form class="login-form" #myform="ngForm" (ngSubmit)="onSubmit(myform)">
          <input type="text" name="userName" placeholder="Username" ngModel />
          <input type="password" name="password" placeholder="password" ngModel />
          <button>login</button>
          <p class="message">Not registered? <a href="sign-up">Create an account</a></p>
        </form>
      </div>
    </div>
</div>