// variables
$background-image: url('../../../assets/login.jpg'); // Replace with your image path
$primary-color: #007bff;
$secondary-color: #0056b3;
$error-color: red;
$text-color: #ffffff;

/* General styles */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Arial, sans-serif;
}

/* Background image */
.bg-image {
  background-image: $background-image;
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: $text-color;
  text-align: center;

  .header-container {
    margin-bottom: 50px;

    h1 {
      font-size: 2.5em;
      margin: 0;
    }

    span {
      font-size: 1.2em;
    }
  }
}

/* Login page styles */
.login-page {
  background: rgba(255, 255, 255, 0.9); // White background with opacity
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 400px; // Set a maximum width for the form
  width: 100%; // Make the form responsive

  h2 {
    color: black;
    margin-bottom: 20px;
  }

  .form-group {
    margin-bottom: 15px;

    .form-control {
      width: 100%;
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 5px;

      &.is-invalid {
        border-color: $error-color;
      }
    }

    .invalid-feedback {
      color: $error-color;
      font-size: 0.875em;
      text-align: left; // Align error message to the left
    }
  }

  .btn-primary {
    width: 100%;
    padding: 10px;
    background-color: $primary-color;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;

    &:hover {
      background-color: $secondary-color;
    }
  }

  .message {
    text-align: center;
    margin-top: 10px;
    color: black;

    a {
      color: $primary-color;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }
}
