<h5 class="p-5">Your total income is : {{totalAmount}} </h5>

<div class="ng-container">
    <form [formGroup]="incomeForm" (ngSubmit)="onSubmit()" class="income-form">
        <div class="form-group mb-3">
            <input type="number" formControlName="amount" placeholder="Amount" class="form-control" />
        </div>

        <div class="form-group mb-3">
            <select formControlName="source" class="form-control">
                <option value="">Select Source</option>
                @for (source of sources; track $index) {
                <option [value]="source.id">{{ source.name }}</option>
                }
            </select>
        </div>

        <div class="form-group mb-3">
            <input type="date" formControlName="date" placeholder="Select Date" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary">Add income</button>
    </form>
</div>
<div class="card">
    <table>
        <thead>
            <tr>
                <th>Source</th>
                <th>Amount</th>
                <th>Date</th>
            </tr>
        </thead>
    @if (incomes.length) {

        <tbody>
            @for(income of incomes ;track $index) {
            <tr>
                <td>{{ income.source }}</td>
                <td>{{ income.amount }}</td>
                <td>{{ income.date | date: 'dd/MM/yyyy' }}</td>
            </tr>
            }
        </tbody>
    } @else {
        <tbody>
            <tr colspan="3">No incomes found.</tr>
        </tbody>
        }
    
    </table>
   
</div>